# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Virtual Environments
# -------------------------
venv/
*/venv/

# -------------------------
# Django
# -------------------------
db.sqlite3

# -------------------------
# Node / React
# -------------------------
node_modules/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db
